<!--<div *ngIf="info.token; else notoken">-->
<!--<p> Привет, {{info.username}} ! </p>-->
<!--</div>-->

<!--<ng-template #notoken>-->
<!--  <p>home-page works!</p>-->
<!--</ng-template>-->

<div class="container">
    <div class="element-add">
        <p>Создать новый опрос:</p>
        <button (click)="onClickAddSurvey()"></button>
    </div>
    <div class="element-search-box">
        <img src="../../../assets/pictures/icons/search-interface-symbol.png" alt="Search Icon">
        <input id="searchInput" type="text" placeholder="Введите название опроса" (keypress)="handleKeyPress($event)">
    </div>
    <div *ngIf=" surveys && surveys.length > 0; else no_surveys" class="element-cards">
        <div class="item"
             [ngClass]="{'green-background': survey.status.name === 'STARTED_STATUS', 'grey-background': survey.status.name === 'FINISHED_STATUS'}"
             *ngFor="let survey of surveys"
             (click)="onClickChangeSurvey(survey)">
            <div class="title">{{ survey.title }}</div>
            <div class="date">Начинается:</div>
            <div class="time">{{ survey.date_begin | date: 'dd.MM.yy HH:mm'}}</div>
            <div class="date">Завершится:</div>
            <div class="time">{{ survey.date_end | date: 'dd.MM.yy HH:mm' }}</div>
            <div *ngIf="survey.status.name=='CREATED_STATUS'"  class="participants">Статус: Создан </div>
            <div *ngIf="survey.status.name=='STARTED_STATUS'"  class="participants">Статус: Начат </div>
            <div *ngIf="survey.status.name=='FINISHED_STATUS'" class="participants">Статус: Завершен </div>
        </div>
<!--        Если survey.status.name=='STARTED_STATUS' то class="item" имеет заливку зеленый -->
<!--        Если survey.status.name=='FINISHED_STATUS' то class="item" имеет заливку серый -->
    </div>
    <ng-template #no_surveys>
        <img class="no-elements" src="../../../assets/pictures/icons/no-connection.png">
    </ng-template>
</div>
