<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="container">
  <div class="form-container">
      <div class="left-column">
        <h2>Регистрация</h2>
        <label for="fullname">ФИО:</label>
        <input type="text" formControlName="fullname" id="fullname">
        <label for="email">Почта:</label>
        <input type="email" formControlName="email" id="email" (click)="onEmailInputClicked()">
      </div>
        <div class="right-column">
          <label for="password">Пароль:</label>
          <input type="password" formControlName="password" id="password">
          <label for="confirmPassword">Повторите пароль:</label>
          <input type="password" formControlName="confirmPassword" id="confirmPassword">
          <button class="register-button" type="submit">Зарегистрироваться</button>
          <p>Уже есть аккаунт?</p>
          <p><a [routerLink]="['/sign-in']">Войти</a></p>
      </div>
  </div>
</form>

<div class="bottom-block">
  <div *ngIf="formControls['fullname'].invalid && (formControls['fullname'].dirty || formControls['fullname'].touched)">
    <div *ngIf="formControls['fullname'].errors?.['required']" class="error-message">ФИО не может быть пустым</div>
  </div>

  <div *ngIf="formControls['email'].invalid && (formControls['email'].dirty || formControls['email'].touched)">
    <div *ngIf="formControls['email'].errors?.['required']" class="error-message">Почта не может быть пустой</div>
    <div *ngIf="formControls['email'].errors?.['email']" class="error-message">Неверный формат почты</div>
  </div>

  <div *ngIf="formControls['password'].invalid && (formControls['password'].dirty || formControls['password'].touched)">
    <div *ngIf="formControls['password'].errors?.['required']" class="error-message">Пароль не может быть пустым</div>
    <div *ngIf="formControls['password'].errors?.['pattern']" class="error-message">Длина пароля не меньше 8 символов</div>
  </div>

  <div *ngIf="formControls['confirmPassword'].invalid && formControls['confirmPassword'].errors?.['passwordMismatch'] && (formControls['confirmPassword'].dirty || formControls['confirmPassword'].touched)">
    <div class="error-message">Пароли не совпадают</div>
  </div>

  <div *ngIf="fromBackError">
    <div class="error-message">Пользователь с таким email уже зарегистрирован</div>
  </div>
</div>
