<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <link rel="stylesheet" href="register-page.component.css">
</head>
<body>

<header>
  <div class="header-content">
    Сервис для проведения интерактивных опросов во время лекции
  </div>
</header>

<div class="container">
  <div class="form-container">
    <div class="left-column">
      <h2>Регистрация</h2>
      <label for="fullname">ФИО:</label>
      <input type="text" id="fullname" name="fullname">
      <label for="email">Почта:</label>
      <input type="email" id="email" name="email">
    </div>
    <div class="right-column">
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password">
      <label for="confirm-password">Повторите пароль:</label>
      <input type="password" id="confirm-password" name="confirm-password">
      <button class="register-button">Зарегистрироваться</button>
      <p>Уже есть аккаунт?</p>
      <p><a href="#">Войти</a></p>
    </div>
  </div>
</div>

<div class="bottom-block">
  <p>Это нижний блок</p>
</div>

</body>
</html>
