<div class="container">

    <div class="block-name">
        <h2> {{surveyTitle}} </h2>
    </div>

    <div *ngIf="survey" class="block-manager">
        <div class="block">
            <h3>Общая информация</h3>
            <div class="info">
                <p>Описание опроса: {{description}}</p>
                <p>Начинается: {{dateBegin}}</p>
                <p>Завершится: {{dateEnd}}</p>
                <p>Максимум участников: {{maxParticipants}}</p>
            </div>
            <button *ngIf="!isStarted" type="submit" (click)="editSurvey()">Редактировать</button>
        </div>
        <div class="block" *ngIf="!isFinished">
            <img src="{{survey.qr_code}}" alt="QR Code" width="300" height="300">
        </div>
        <div class="block_ver" *ngIf="isFinished" >
            <div class="sub-block">
                <img (click)="downloadWord()" src="../../../assets/pictures/icons/word.png" class="img-row" alt="Image 1" width="80" height="80">
                <img (click)="downloadExcel()" src="../../../assets/pictures/icons/excel.png" class="img-row" alt="Image 2" width="80" height="80">
                <img (click)="downloadPdf()" src="../../../assets/pictures/icons/pdf.png" class="img-row" alt="Image 3" width="80" height="80">
            </div>
        </div>
        <div class="block">
            <button *ngIf="!isStarted" type="submit" (click)="startSurvey()">Начать</button>
            <button *ngIf="isStarted && !isFinished" type="submit" (click)="stopSurvey()">Завершить</button>
            <button class="delete-btn" type="submit" (click)="deleteSurvey()">Удалить</button>
            <p *ngIf="!isFinished" (click)="copyLink()" class="link-tg">Скопировать ссылку: {{survey.link}}</p>
            <button *ngIf="isFinished" type="submit" (click)="analyseSurvey()">Аналитика</button>
        </div>
    </div>

    <div *ngIf="survey && isStarted && !isFinished && isInteractive" class="block-timer">
        <p style="font-size: 20px"> {{currentQuestionId}}. {{currentQuestion}}</p>
        <div>
            <div class="timer-text">Осталось: {{ remainingTime }} сек.</div>
            <div class="timer-bar">
                <div class="timer-bar-fill" [style.width.%]="(remainingTime / initialTime) * 100"></div>
            </div>
        </div>
        <button type="submit" (click)="startTimer()">Следующий вопрос</button>
    </div>

</div>
